[Unit]
Description=Celery Beat Scheduler for SalamaPay
After=network.target redis-server.service

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/vhosts/elanbrands.net/lipasalama.co.tz
ExecStart=/var/www/vhosts/elanbrands.net/lipasalama.co.tz/venv/bin/celery -A backend beat -l info
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
