[Unit]
Description=Gunicorn daemon for SalamaPay Django API
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/vhosts/elanbrands.net/lipasalama.co.tz
ExecStart=/var/www/vhosts/elanbrands.net/lipasalama.co.tz/venv/bin/gunicorn \
    --workers 3 \
    --bind 127.0.0.1:8001 \
    --access-logfile - \
    --error-logfile - \
    backend.wsgi:application
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
